
<div class="container">
    <h1>Update employeeCategory</h1>

    <div>
        <label>employeeCategory ID:</label>
        <input [(ngModel)]="employeeCategoryId" type="number" class="form-control">
    </div>
    <button (click)="getEmployeeCategory()">Get employeeCategory</button>

    <div *ngIf="employeeCategory">
        <form #empForm="ngForm">
            <input name="id" [(ngModel)]="employeeCategory.id" type="text" class="form-control" readonly>
            <!-- description -->
            <div class="my-3">
                <span>Please Enter description*</span>
                <input name="description" [(ngModel)]="employeeCategory.description" type="text" class="form-control">
            </div>
        </form>
        <button (click)="updateEmployeeCategory()">Update employeeCategory</button>
        <div *ngIf="updateSuccess" class="alert alert-success mt-2">
            employeeCategory has been successfully updated.
        </div>
    </div>
</div>
