<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Onboarding</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Employee
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee/add/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee/delete/" role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee/get/" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee/list/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee/update/" role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Employee Category
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-category/add/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/on-boarding/employee-category/delete/" role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-category/get/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/on-boarding/employee-category/list/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/on-boarding/employee-category/update/" role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Employee Role
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-role/add/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-role/delete/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-role/get/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-role/list/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-role/update/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Employee Status
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-status/add/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-status/delete/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-status/get/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-status/list/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/on-boarding/employee-status/update/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
<footer></footer>
