<div class="container">
    <h1>Add candidate </h1>
</div>

<form [formGroup]="candidateForm" (ngSubmit)="saveCandidate()">
    <div class=" container">
        <!-- FirstName -->
        <div class="my-3">
            <span>Please Enter First Name*</span>
            <input type="text" class="form-control" placeholder="FirstName" formControlName="firstName">
            <span class="text-danger" *ngIf="firstName && firstName.invalid && firstName.touched">Invalid First Name</span>
        </div>
        <!-- middleName -->
        <div class="my-3">
            <span>Please Enter Middle Name*</span>
            <input type="text" class="form-control" placeholder="MiddleName" formControlName="middleName">
            <span class="text-danger" *ngIf="middleName && middleName.invalid && middleName.touched">Invalid Middle
                Name</span>
        </div>

        <!-- LastName -->
        <div class="my-3">
            <span>Please Enter Last Name*</span>
            <input type="text" class="form-control" placeholder="LastName" formControlName="lastName">
            <span class="text-danger" *ngIf="lastName && lastName.invalid && lastName.touched">Invalid Last Name</span>
        </div>
        <!-- email -->
        <div class="my-3">
            <span>Please Enter email*</span>
            <input type="text" class="form-control" placeholder="email" formControlName="email">
            <span class="text-danger" *ngIf="email && email.invalid && email.touched">Invalid email</span>
        </div>
        <!-- resumeURL -->
        <div class="my-3">
            <span>Please Enter resumeURL*</span>
            <input type="text" class="form-control" placeholder="resumeURL" formControlName="resumeURL">
            <span class="text-danger" *ngIf="resumeURL && resumeURL.invalid && resumeURL.touched">Invalid resumeURL</span>
        </div>

        <!-- button -->
        <button type="submit" [disabled]="!candidateForm.valid" class="btn btn-primary">Add candidate</button>
    </div>

</form>
