<div class="container">
    <h1>Get candidate By Id</h1>

    <div>
        <label>candidate ID:</label>
        <input [(ngModel)]="candidateId" type="number" class="form-control">
    </div>
    <button (click)="getCandidate()">Get candidate </button>

    <div *ngIf="candidate">
        <h2>candidate Details</h2>
        <p><strong>ID:</strong> {{candidate.id}}</p>
        <p><strong>First Name :</strong> {{candidate.firstName}}</p>
        <p><strong>Middle Name :</strong> {{candidate.middleName}}</p>
        <p><strong>Last Name :</strong> {{candidate.lastName}}</p>       
        <p><strong>Email :</strong> {{candidate.email}}</p>
        <p><strong>Resume URL :</strong> {{candidate.resumeURL}}</p>
    </div>
</div>
