<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HRM NavBar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <!-- Interview -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="app/interview/add">Add</a></li>
                            <li><a class="dropdown-item" href="app/interview/list">List</a></li>
                        </ul>
                    </li> -->

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="app/interview/interviewer/home">Interviewer</a></li>
                            <li><a class="dropdown-item" href="app/interview/list">InterviewFeedback</a></li>
                            <li><a class="dropdown-item" href="app/interview/interviews/home">Interviews</a></li>
                            <li><a class="dropdown-item" href="app/interview/add">InterviewType</a></li>
                            <li><a class="dropdown-item" href="app/interview/add">Recruiter</a></li>
                        </ul>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" href="app/interview" role="button">
                            Interview
                        </a>
                    </li>

                    <!-- Onboarding -->
                    <li class="nav-item ">
                        <a class="nav-link" href="app/on-boarding" role="button">
                            Onboarding
                        </a>
                    </li>

                    <!-- Recruiting -->
                    <li class="nav-item">
                        <a class="nav-link" href="app/recruiting" role="button" >
                            Recruiting
                        </a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-success" type="button" (click)="logout()">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>


<!-- <div class="container">
    <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>

<footer>
</footer>
