<div class="container">
    <h1>Delete jobRequirement</h1>
  </div>
  
  <div class="container">
    <label for="jobRequirementId">jobRequirement ID:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="jobRequirementId"
      name="jobRequirementId"
      placeholder="Enter jobRequirement ID to delete"
    />
    <button (click)="deleteJobRequirement()" class="btn btn-danger mt-2">
      Delete jobRequirement
    </button>
    <div *ngIf="deleteSuccess" class="alert alert-success mt-2">
        jobRequirement has been successfully deleted.
    </div>
  </div>
