<div class="container">
    <h1>Delete submission</h1>
  </div>
  
  <div class="container">
    <label for="submissionId">submission ID:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="submissionId"
      name="submissionId"
      placeholder="Enter submission ID to delete"
    />
    <button (click)="deleteSubmission()" class="btn btn-danger mt-2">
      Delete submission
    </button>
    <div *ngIf="deleteSuccess" class="alert alert-success mt-2">
        submission has been successfully deleted.
    </div>
  </div>
