
<div class="container">
    <h1>employeeCategory List</h1>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of employeeCategories" (click)="onSelectEmployeeCategory(e)" style="cursor:pointer">
                    <td>{{ e.id }}</td>
                    <td>{{ e.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h1>Selected employeeCategory</h1>

    <form [formGroup]="employeeCategoryForm" *ngIf="selectedEmployeeCategory.id" class="container">
        <div class="form-group">
            <label>ID</label>
            <input formControlName="id" type="text" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input formControlName="description" type="text" class="form-control" readonly>
        </div>
    </form>
</div>
