<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Interview NavBar</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interviews
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviews/add/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviews/delete/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviews/get" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviews/list/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviews/update/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interviewer
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/add/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/delete/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/get/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/list/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/update/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview Feedback
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/add/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/delete/" role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/get/" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/list/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/update/" role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview Type
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/add/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/delete/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/get/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/list/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/update/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Recruiter
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/add/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/delete"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/get" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/list" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/update"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
<footer></footer>
